# EmailJS - Envio do formulário de orçamento e contato
# Obtenha as chaves em https://www.emailjs.com/
#
# No template do EmailJS, use as variáveis:
#   {{from_name}}  - Nome
#   {{from_phone}} - Telefone
#   {{from_email}} - Email
#   {{from_address}} - Endereço (apenas no formulário de contato)
#   {{message}}    - Mensagem
#
# Configure o "To Email" do template como: tilssilva1103@gmail.com
# (ou use {{to_email}} no template e ele será preenchido automaticamente)

PUBLIC_EMAILJS_SERVICE_ID=seu_service_id
PUBLIC_EMAILJS_TEMPLATE_ID=seu_template_id
PUBLIC_EMAILJS_PUBLIC_KEY=sua_public_key

# Cloudflare Turnstile - Anti-spam (opcional)
# Crie um site em https://dash.cloudflare.com/?to=/:account/turnstile
# Se não configurar, o honeypot continua ativo e o Turnstile não é exibido

PUBLIC_TURNSTILE_SITE_KEY=
