# EmailJS - Envio do formulário de orçamento
# Obtenha as chaves em https://www.emailjs.com/
#
# No template do EmailJS, use as variáveis:
#   {{from_name}}  - Nome
#   {{from_phone}} - Telefone
#   {{from_email}} - Email
#   {{message}}    - Mensagem
#
# Configure o "To Email" do template como: tilssilva1103@gmail.com
# (ou use {{to_email}} no template e ele será preenchido automaticamente)

PUBLIC_EMAILJS_SERVICE_ID=seu_service_id
PUBLIC_EMAILJS_TEMPLATE_ID=seu_template_id
PUBLIC_EMAILJS_PUBLIC_KEY=sua_public_key
